# ===== 基础参数 =====
# Luci-app组件
CONFIG_BUILD_PATENTED=y
# ADD CCACHE
CONFIG_CCACHE=y
CONFIG_DEVEL=y

# ===== 基础/设备 =====
CONFIG_PACKAGE_luci-app-store=y
# autoset组件
CONFIG_PACKAGE_autoset=y
CONFIG_PACKAGE_autoset_INCLUDE_filesystem=y
CONFIG_PACKAGE_autoset_INCLUDE_ntfs=y
CONFIG_PACKAGE_autoset_INCLUDE_usb_storage=y
CONFIG_PACKAGE_autoset_INCLUDE_temperature_script=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_luci-app-airoha=y

# ===== 网络基础/防火墙 =====
CONFIG_PACKAGE_luci-app-dawn=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-nft-qos=y
CONFIG_PACKAGE_luci-app-sqm=y
# kmod network 组件
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_kmod-nft-offload=y
# CONFIG_PACKAGE_kmod-iptunnel=m
# CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-l2tp=y
CONFIG_PACKAGE_kmod-ppp=y
# CONFIG_PACKAGE_kmod-mppe=m
CONFIG_PACKAGE_kmod-ppp-synctty=y
# CONFIG_PACKAGE_kmod-pppoa=m
CONFIG_PACKAGE_kmod-pppoe=y
# CONFIG_PACKAGE_kmod-pppox=m
CONFIG_PACKAGE_kmod-pptp=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
#  network firewall 组件
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_kmod-nft-fullcone=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_luci-app-netmode=y

# ===== VPN/隧道 =====
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-wireguard=y
# openvpn 组件
CONFIG_PACKAGE_luci-app-openvpn-server-client=y
CONFIG_PACKAGE_wireguard-tools=y

# ===== 内网穿透/远程 =====
# CONFIG_PACKAGE_luci-app-frpc=m
# CONFIG_PACKAGE_luci-app-frps=m

# ===== 下载/网盘/媒体 =====
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-rtp2httpd=y

# ===== 存储/文件共享 =====
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-vsftpd=y
# ADD harbor
CONFIG_PACKAGE_luci-app-harbor-file=y

# ===== 打印/外设 =====
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_luci-app-cupsd=y
CONFIG_PACKAGE_libcupsimage=y
CONFIG_PACKAGE_cups-bsd=y
CONFIG_PACKAGE_cups-client=y
CONFIG_PACKAGE_cups-filters=y
CONFIG_PACKAGE_cups-ppdc=y
CONFIG_PACKAGE_brlaser=y

# ===== 主题/界面 =====
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-kucat-config=y
CONFIG_PACKAGE_luci-theme-aurora=y
CONFIG_PACKAGE_luci-app-aurora-config=y

# ===== 监控/系统 =====
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-parentcontrol=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-control-weburl=y
CONFIG_PACKAGE_luci-app-timecontrol=y
CONFIG_PACKAGE_zram-swap=y

# ===== 网络服务 =====
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-omcproxy=y
CONFIG_PACKAGE_luci-app-natmap=y
CONFIG_PACKAGE_luci-app-https-dns-proxy=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y

# ===== 工具 =====
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-tcpdump=y

# ===== 其他 =====
# CONFIG_PACKAGE_libustream-mbedtls is not set
CONFIG_PACKAGE_libustream-openssl=y
# CONFIG_PACKAGE_libmbedtls is not set
# Remove feed
CONFIG_FEED_lunatic7=n
CONFIG_FEED_pon_drivers=n
CONFIG_FEED_pon_userspace=n

# ===== 构建选项 =====
# 内核选项
CONFIG_KERNEL_DEVMEM=y
# Curl 组件
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_OPENSSL=y
